<!DOCTYPE html>
<html>
    <head>
	   <meta charset="UTF-8" />
	   <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <title>Welcome to Ext JS!</title>
	   <meta name="viewport" content="width=device-width, initial-scale=1">
       <link rel="stylesheet" type="text/css" href="http://cdn.sencha.com/ext/gpl/5.0.0/build/packages/ext-theme-neptune/build/resources/ext-theme-neptune-all.css">
       <script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.0.0/build/ext-all.js"></script> 
       <script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.0.0/build/packages/ext-theme-neptune/build/ext-theme-neptune.js"></script>
	   <script type="text/javascript" src="http://cdn.sencha.com/ext/gpl/5.0.0/packages/ext-locale/overrides/zh_CN/ext-locale-zh_CN.js"></script>
	   <style></style>
       <script type="text/javascript">
		Ext.onReady(function(){
	
		
		});
        </script>
    </head>
    <body></body>
</html>